<div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-4'>
    {% if posts|length > 0 %}
        {% for post in posts %}
            {{ include('micro_post/_one.html.twig', {post: post}) }}
        {% endfor %}
    {% else %}
        <p style='color:red'>There are no posts to show yet.</p>
    {% endif %}
</div>