{% extends 'base.html.twig' %}

{% set recents_only = attribute(_context, 'recents') is defined ? true : false %}

{% block title %}
    {{ recents_only ? 'Recent Posts' : 'All Posts' }}
{% endblock %}

{% block bread %}
    {{ recents_only ? 'Latests' : 'All Posts' }}
{% endblock %}

{% block body %}
    <div class='grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6 p-4'>
        {% if posts|length > 0 %}
            {% for post in posts %}
                {{ include('micro_post/_one.html.twig', {post: post}) }}
            {% endfor %}
        {% else %}
            <p style='color:red'>There are no posts to show yet.</p>
        {% endif %}
    </div>
{% endblock %}
