{% extends 'base.html.twig' %}

{% block title %}All Posts{% endblock %}

{% block body %}
    <div class='grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-6 p-4'>
    {% if posts|length > 0 %}
        {% for post in posts %}
            <div class='block w-full bg-gray-200 rounded p-4'>
                <p>
                    <a href="{{ path('micro_post_show', { id: post.id }) }}">
                        {{ post.title }}
                    </a>
                </p>
                <p class='text-x0 dark:text-gray-400'>
                    {% if post.text|length > displayed_text_caracters %}
                        {% set truncatedText = post.text|slice(0, displayed_text_caracters - 3) %}
                        {{ truncatedText }}...
                    {% elseif post.text|length > 0  %}
                        {{ post.text }}
                    {% else %}
                        <p class='text-gray-700'>➡️There is no content yet.</p>
                    {% endif  %}
                </p>
            </div>
        {% endfor %}
    {% else %}
        <p>There is no post to show yet.</p>
    {% endif %}
</div>

{% endblock %}
