{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block bread %}
    Post {{ post.id }}
{% endblock %}

{% block body %}
    <div class='mx-4'>
        {{ include('micro_post/_one.html.twig', {post: post}) }}
    </div>
{% endblock %}
