{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block bread %}
    Profile Settings
{% endblock %}

{% block body %}
    <div class='mx-4'>
        {{ include('settings_profile/_settings_profile_tabs.html.twig') }}

        <div class='mt-16 mx-auto max-w-md'>
            {{ form_start(form) }}
                {{ include('settings_profile/_profile_form.html.twig') }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
