<div class='{% if app.request.get('_route') == route %}text-indigo-600 dark:text-indigo-300{% else %}text-gray-600 dark:text-gray-400{% endif %}{% if classes is defined %}{{ classes }}{% endif %} pb-0.4 mx-1 border-b-4 border-indigo-500 dark:border-indigo-300'>
    <a href='{% block path %}{% endblock %}'>
        {% block content %}{% endblock %}
    </a>
</div>